{% extends 'base.html' %}

{% block content %}

<div class="page-content bg-white">
    
    <!-- inner page banner -->
      <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner2.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">OUR CEO</h1>
             </div>
        </div>
    </div>  
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>CEO</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
    <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
            <div class="container">
                 <div class="row d-flex flex-row-reverse">
                    <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                        
                    </div>
                
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="courses-post">
                            <div class="ttr-post-media media-effect">
                                <h1 class="title">A FOUNDER OF THE WEBSITE</h1>
                                <a href="#"><img src="https://i.pinimg.com/564x/31/d1/9d/31d19deb5713e11987ccb7b63e852a8a.jpg" alt=""></a>
                            </div>
                            <div class="ttr-post-info">
                                <div class="ttr-post-title ">
                                    <h2 class="post-title">Amina Tynybekova</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="courese-overview" id="overview">
                            <div class="row">
                                <div class="col-md-12 col-lg-4">
                                    <ul class="course-features">
                                        <li>
                                            <i class="ti-map" style="color: #007bff;"></i>
                                            <span class="label" style="color: #333;">Birth Country:</span>
                                            <span class="value" style="color: #007bff; font-weight: bold;">Bishkek/Kyrgyzstan</span>
                                        </li>
                                          
                                        <li>
                                            <i class="ti-book" style="color: #00ff44;"></i>
                                            <span class="label" style="color: #333;">School: </span>
                                            <span class="value" style="color: #ff0066; font-weight: bold;">Silk Road International School</span>
                                        </li>
                                        
                                                                    
                                    </ul>
                                </div>
                                <!-- <div class="col-md-12 col-lg-8"> -->
                                    <!-- <h5 class="m-b5">Description</h5>
                                    {{university.detail}}
                                    <h5 class="m-b5">Most Popular Majors</h5>
                                    {% for major in university.majors.all %}
                                    <ul class="list-checked primary">
                                        <li style="color:black">{{major.name}} |
                                             Hard or Easy Major: {{major.hard_or_easy}} |
                                             Popular: {{major.popularity}}</li>
                                    {% endfor%}
                                        
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                            <h4>BIOGRAPHY</h4>
                            <div class="" id="instructor">
                                <div class="instructor-bx">
                                    <div class="instructor-author">
                                        <img src="https://i.pinimg.com/236x/55/8e/84/558e846195c3c8a219efff2e6cccad2f.jpg" alt="">
                                    </div>
                                    <div class="instructor-info">
                                        
                                        <h6></h6>    
                                        <p class="m-b0">Amina Tynybekova, a senior student, works really hard in class. Three times, she moved schools. Her first school was a public school with the number 6, followed by BBHS and her current school, SRIS. </p>
    
                                      
                                    </div>
    
                                </div>
                                
                                
                            </div>
                            <div class="m-b30" id="curriculum">
                            <ul class="curriculum-list">
                                    <li>
                                        <h5>TESTS</h5>
                                        <ul>
                                            <li>
                                                <div class="curriculum-list-box">
                                                    <span style="font-weight: bold; color: red;">ACHIEVEMENTS</span>
                                                    <span style="margin-left: 10px; color: black;">SILVER MEDAL: MATH OLYMPIAD IN SINGAPORE |</span>
                                                    <span style="margin-left: 10px; color: black;">BRONZE MEDAL: MATH OLYMPIAD IN USA |</span>
                                                    <span style="margin-left: 10px; color: black;">TOEFL EXAM RESULTS: 110 </span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="curriculum-list-box">
                                                    <span style="font-weight: bold; color: #007bff;">EXTRACURRICULARS:</span>
                                                    <span style="margin-left: 10px; color: #ff0051;">30+ VOLOUNTEER HOURS |</span>
                                                    <span style="margin-left: 10px; color: #ff0051;">PARTICIPATE IN DEBATE CLUB |</span>


                                                </div>
                                                
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    <li>
                                        <h5>Info </h5>
                                        <ul>
                                            <li>
                                                <div class="curriculum-list-box">
                                                    <span style="font-weight: bold; color: red;">Her life:</span>
                                                    <span style="margin-left: 10px; color: black;">From a young age, I've always been passionate about learning and exploring new ideas. This curiosity has fueled my desire to seek out quality education on an international scale. I believe that by immersing myself in diverse academic environments, I can gain a broader perspective and enrich my knowledge in ways that will not only benefit me personally but also contribute to the global community.</span>
                                                </div>
                                            </li>
                                            
                                            
                                        </ul>
                                    </li>
                                    <li>
                                    
                                </ul>
                        </div>
                        
                        
                                <!-- <div class="review-bar">
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>5 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:90%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>150</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>4 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:70%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>140</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>3 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:50%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>120</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>2 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:40%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>110</div>
                                        </div>
                                    </div>
                                    <div class="bar-bx">
                                        <div class="side">
                                            <div>1 star</div>
                                        </div>
                                        <div class="middle">
                                            <div class="bar-container">
                                                <div class="bar-5" style="width:20%;"></div>
                                            </div>
                                        </div>
                                        <div class="side right">
                                            <div>80</div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- contact area END -->
    
</div>



{% endblock %}