{% extends 'base.html' %}

{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="table-responsive">
    <h1>Comparison Table 
        {% if compare.unis %}
        <a href="{% url 'clear_compare'  %}" class="btn btn-primary" style="background-color: #00ff2a; color: white; padding: 8px 16px; border: none; cursor: pointer; border-radius: 5px; font-size: 14px; font-weight: bold; transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;">Clear</a>
        {% else %}
        <a href="{% url 'uni_list'   %}" class="btn btn-primary" style="background-color: #ff008c; color: white; padding: 8px 16px; border: none; cursor: pointer; border-radius: 5px; font-size: 14px; font-weight: bold; transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;">Add</a>
        {% endif %}
    </h1>
   
    
    <table>
        <thead>
            <tr>
                <th>Attribute</th>
                {% for uni in compare.unis %} {# Ограничиваем максимум до трех университетов #}
                <th>
                    <span>{{ uni.name }}</span>
                    <a href="{% url 'remove_compare' uni.pk %}" class="btn btn-primary" style="background-color: #ff0000; color: white; padding: 8px 16px; border: none; cursor: pointer; border-radius: 5px; font-size: 14px; font-weight: bold; transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;">Delete</a>
                </th>
                
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Location</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.location }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Type</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.type }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Price</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.price_out }}$</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Cost of Living</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.cost_of_living }}$</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Admission: SAT</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.admission.sat_range }}/1600</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Admission: IELTS</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.admission.ielts }}/9.0</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Admission: acceptance rate</td>
                {% for uni in compare.unis %}
                    <td>{{ uni.admission.acceptance_rate }}%</td>
                {% endfor %}
            </tr> 
            <td>Admission: GPA</td>
            {% for uni in compare.unis %}
                <td>{{ uni.admission.avg_gpa }}</td>
            {% endfor %}    
        <tr>
            <td>Admission: Type of grades</td>
            {% for uni in compare.unis %}
            <td>{{ uni.admission.type_of_grades }}</td>
            {% endfor %}
        </tr> 
        <tr>
            <td>Admission: Competition</td>
            {% for uni in compare.unis %}
                <td>{{ uni.admission.applicant_competition }}</td>
            {% endfor %}
        </tr> 
        <tr>
            <td>DEADLINES</td>
            {% for uni in compare.unis %}
                <td>{{ uni.admission.deadline }}</td>
            {% endfor %}
        </tr>   
        </tbody>
    </table>
</div>
{% endblock %}
