{% extends 'base.html' %}

{% block content %}
<div class="page-banner contact-page section-sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 m-b30">
                <div class="bg-primary text-white contact-info-bx">
                    <h2 class="m-b10 title-head">Contact <span>Information</span></h2>
                    <div class="widget widget_getintuch">	
                        <ul>
                            <li><i class="ti-location-pin"></i>Bishkek</li>
                            <li><i class="ti-mobile"></i>+996 500 999 999(24/7 Support Line)</li>
                            <li><i class="ti-email"></i>educhamp@example.com</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <form class=""  method="post">
                    {% csrf_token %}
                    <div class="ajax-message"></div>
                        <div class="heading-bx left">
                            <h2 class="title-head">Get In <span>Touch</span></h2>
                            <h1>{{success}}</h1>
                        </div>
                                    
  
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Name:</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group"> 
                                        <label>Email:</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Phone:</label>
                                        {{ form.phone }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Subject:</label>
                                        {{ form.subject }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Type Message:</label>
                                        {{ form.message }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Location:</label>
                                        {{ form.location }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <button type="submit" style="background-color: #1173c9; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">Send message</button>
                                    </div>
                                </div>
                            </div>
                    </div>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}