{% extends 'base.html'%}

{% block content %}

<body id="bg">
    <div class="page-wraper">
        <!-- Header Top ==== -->
        <!-- Header Top END ==== -->
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- Main Slider -->
            <div class="rev-slider">
                <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                    <div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                        <ul>	<!-- SLIDE  -->
                            <li data-index="rs-100" 
                            data-transition="parallaxvertical" 
                            data-slotamount="default" 
                            data-hideafterloop="0" 
                            data-hideslideonmobile="off" 
                            data-easein="default" 
                            data-easeout="default" 
                            data-masterspeed="default" 
                            data-thumb="error-404.html" 
                            data-rotate="0" 
                            data-fstransition="fade" 
                            data-fsmasterspeed="1500" 
                            data-fsslotamount="7" 
                            data-saveperformance="off" 
                            data-title="A STUDY ON HAPPINESS" 
                            data-param1="" data-param2="" 
                            data-param3="" data-param4="" 
                            data-param5="" data-param6="" 
                            data-param7="" data-param8="" 
                            data-param9="" data-param10="" 
                            data-description="Science says that Women are generally happier">
                                <!-- MAIN IMAGE -->
                                <img src="assets/images/slider/slide1.jpg" alt="" 
                                    data-bgposition="center center" 
                                    data-bgfit="cover" 
                                    data-bgrepeat="no-repeat" 
                                    data-bgparallax="10" 
                                    class="rev-slidebg" 
                                    data-no-retina />
                                    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " 
                                    id="slide-100-layer-1" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                    data-width="full"
                                    data-height="full"
                                    data-whitespace="nowrap"
                                    data-type="shape" 
                                    data-basealign="slide" 
                                    data-responsive_offset="off" 
                                    data-responsive="off"
                                    data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','left']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>	
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title   tp-resizeme" 
                                    id="slide-100-layer-2" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['250','250','250','240']" 
                                    data-fontsize="['50','50','50','30']"
                                    data-lineheight="['55','55','55','35']"
                                    data-width="full"
                                    data-height="none"
                                    data-whitespace="normal"
                                    data-type="text" 
                                    data-responsive_offset="on" 
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[10,10,10,10]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;">
                                        Start your journey with us
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
                                    id="slide-100-layer-3" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['210','210','210','210']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-type="text" 
                                    data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['left','left','left','left']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; white-space: nowrap; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
                                        Batter Education For A Better 
                                </div>
                                
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
                                    id="slide-100-layer-4" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['320','320','320','290']" 
                                    data-width="['800','800','700','420']"
                                    data-height="['100','100','100','120']"
                                    data-whitespace="unset"
                                    data-type="text" 
                                    data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
                                         Find the best university for you and calculate your chances
                                </div>
                                <!-- LAYER NR. 4 -->
                                <a href="{% url 'about' %}" class="tp-caption Newspaper-Button rev-btn " 
                                    id="slide-100-layer-5" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['90','80','75','90']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['400','400','400','420']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-type="button" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[12,12,12,12]"
                                    data-paddingright="[30,35,35,15]"
                                    data-paddingbottom="[12,12,12,12]"
                                    data-paddingleft="[30,35,35,15]"
                                    style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:var(--primary) !important; border:0; border-radius:30px; margin-right:5px;">READ MORE </a>
                                <a href="{% url 'contact' %}" class="tp-caption Newspaper-Button rev-btn" 
                                    id="slide-100-layer-6" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['-90','-80','-75','-90']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['400','400','400','420']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-type="button" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[12,12,12,12]"
                                    data-paddingright="[30,35,35,15]"
                                    data-paddingbottom="[12,12,12,12]"
                                    data-paddingleft="[30,35,35,15]"
                                    style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">CONTACT US</a>
                            </li>
                            <li data-index="rs-200" 
                            data-transition="parallaxvertical" 
                            data-slotamount="default" 
                            data-hideafterloop="0" 
                            data-hideslideonmobile="off" 
                            data-easein="default" 
                            data-easeout="default" 
                            data-masterspeed="default" 
                            data-thumb="assets/images/slider/slide1.jpg" 
                            data-rotate="0" 
                            data-fstransition="fade" 
                            data-fsmasterspeed="1500" 
                            data-fsslotamount="7" 
                            data-saveperformance="off" 
                            data-title="A STUDY ON HAPPINESS" 
                            data-param1="" data-param2="" 
                            data-param3="" data-param4="" 
                            data-param5="" data-param6="" 
                            data-param7="" data-param8="" 
                            data-param9="" data-param10="" 
                            data-description="Science says that Women are generally happier">
                                <!-- MAIN IMAGE -->
                                <img src="assets/images/slider/slide2.jpg" alt="" 
                                    data-bgposition="center center" 
                                    data-bgfit="cover" 
                                    data-bgrepeat="no-repeat" 
                                    data-bgparallax="10" 
                                    class="rev-slidebg" 
                                    data-no-retina />
                                    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " 
                                    id="slide-200-layer-1" 
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                    data-width="full"
                                    data-height="full"
                                    data-whitespace="nowrap"
                                    data-type="shape" 
                                    data-basealign="slide" 
                                    data-responsive_offset="off" 
                                    data-responsive="off"
                                    data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','left']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;"> 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title   tp-resizeme" 
                                    id="slide-200-layer-2" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['250','250','250','240']" 
                                    data-fontsize="['50','50','50','30']"
                                    data-lineheight="['55','55','55','35']"
                                    data-width="full"
                                    data-height="none"
                                    data-whitespace="normal"
                                    data-type="text" 
                                    data-responsive_offset="on" 
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[10,10,10,10]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;text-transform:uppercase;">
                                    Find the best university for you and compare your universities
                                
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
                                    id="slide-200-layer-3" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['210','210','210','210']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-type="text" 
                                    data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['left','left','left','left']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; white-space: nowrap;text-transform:uppercase; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
                                        Batter Education For A Better 
                                </div>
                                
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme" 
                                    id="slide-200-layer-4" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['320','320','320','290']" 
                                    data-width="['800','800','700','420']"
                                    data-height="['100','100','100','120']"
                                    data-whitespace="unset"
                                    data-type="text" 
                                    data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
                                         
                                </div>
                                <!-- LAYER NR. 4 -->
                                <a href="{% url 'about' %}" class="tp-caption Newspaper-Button rev-btn " 
                                    id="slide-200-layer-5" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['90','80','75','90']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['400','400','400','420']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-type="button" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[12,12,12,12]"
                                    data-paddingright="[30,35,35,15]"
                                    data-paddingbottom="[12,12,12,12]"
                                    data-paddingleft="[30,35,35,15]"
                                    style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:var(--primary) !important; border:0; border-radius:30px; margin-right:5px;">READ MORE </a>
                                <a href="{% url 'contact' %}" class="tp-caption Newspaper-Button rev-btn" 
                                    id="slide-200-layer-6" 
                                    data-x="['center','center','center','center']" 
                                    data-hoffset="['-90','-80','-75','-90']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['400','400','400','420']" 
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-type="button" 
                                    data-responsive_offset="on" 
                                    data-responsive="off"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                    data-textAlign="['center','center','center','center']"
                                    data-paddingtop="[12,12,12,12]"
                                    data-paddingright="[30,35,35,15]"
                                    data-paddingbottom="[12,12,12,12]"
                                    data-paddingleft="[30,35,35,15]"
                                    style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;">CONTACT US</a>
                            </li>
                            <!-- SLIDE  -->
                        </ul>
                    </div><!-- END REVOLUTION SLIDER -->  
                </div>  
            </div>  
            <!-- Main Slider -->
            <div class="content-block">
                
                <!-- Our Services -->
               
                <!-- Our Services END -->
                
                <!-- Popular Courses -->
               
                <!-- Popular Courses END -->
                
                <!-- Form -->
                <div class="section-area section-sp1 ovpr-dark bg-fix online-cours" style="background-image:url(assets/images/background/bg1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center text-white">
                                <h2>BUILD YOUR LIST BY COMPARING UNIVERSITIES</h2>
                                <h5>Take advantage of EduChamp's robust search features to discover colleges that interest you. The user-friendly interface lets you start populating your college list right away, without any need for sign-up or account creation. As soon as you begin building your list of potential colleges, our system will recommend additional schools for consideration. These recommendations are driven by CollegeSimply's extensive and proprietary database, which has been meticulously compiled to reflect the patterns and preferences of students when considering colleges.</h5>
                                
                                <div class="input-group" style="display: flex; justify-content: center; margin-bottom: 20px;">
                                    <a href="{% url 'compare' %}">
                                        <button type="button" style="background-color: #ff009d; color: white; padding: 10px 20px; border: none; cursor: pointer; border-radius: 5px; transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;">
                                            compare
                                        </button>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                   
                        <div class="mw800 m-auto">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="cours-search-bx m-b30">
                                        <div class="icon-box">
                                            <h3><i class="ti-user"></i><span class="counter">10</span></h3>
                                        </div>
                                        <span class="cours-search-text">PEOPLE USE THIS SITE</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="cours-search-bx m-b30">
                                        <div class="icon-box">
                                            <h3><i class="ti-book"></i><span class="counter">20</span></h3>
                                        </div>
                                        <span class="cours-search-text">MAJORS AVAILABLE</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="cours-search-bx m-b30">
                                        <div class="icon-box">
                                            <h3><i class="ti-layout-list-post"></i><span class="counter">5</span>/5</h3>
                                        </div>
                                        <span class="cours-search-text">rating</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Form END -->
                <div class="section-area section-sp2">
                    <div class="container">
                        <p class="m-b10" style="font-size: 18px; font-weight: bold; color: #333;">THE MAP SHOWS THE UNIVERSITIES THAT WE HAVE IN USA:</p>
                        <div id='map' width="100%" style='height:400px'></div>

                    </div>
                </div>
                
                <!-- Testimonials -->
                
                <!-- Testimonials END -->
                
                <!-- Recent News -->
                <!-- Recent News End -->
                
            </div>
            <!-- contact area END -->
        </div>
        <!-- Content END-->
        <!-- Footer ==== -->
        
        <!-- Footer END ==== -->
        <button class="back-to-top fa fa-chevron-up" ></button>
    </div>
    
    <!-- External JavaScripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendors/counter/waypoints-min.js"></script>
    <script src="assets/vendors/counter/counterup.min.js"></script>
    <script src="assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="assets/vendors/masonry/masonry.js"></script>
    <script src="assets/vendors/masonry/filter.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src='assets/vendors/switcher/switcher.js'></script>
    <!-- Revolution JavaScripts Files -->
    <script src="assets/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script>
    jQuery(document).ready(function() {
        var ttrevapi;
        var tpj =jQuery;
        if(tpj("#rev_slider_486_1").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_486_1");
        }else{
            ttrevapi = tpj("#rev_slider_486_1").show().revolution({
                sliderType:"standard",
                jsFileLocation:"assets/vendors/revolution/js/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {
                    keyboardNavigation:"on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    mouseScrollReverse:"default",
                    onHoverStop:"on",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style: "uranus",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    },
                    
                },
                viewPort: {
                    enable:true,
                    outof:"pause",
                    visible_area:"80%",
                    presize:false
                },
                responsiveLevels:[1240,1024,778,480],
                visibilityLevels:[1240,1024,778,480],
                gridwidth:[1240,1024,778,480],
                gridheight:[768,600,600,600],
                lazyType:"none",
                parallax: {
                    type:"scroll",
                    origo:"enterpoint",
                    speed:400,
                    levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
                    type:"scroll",
                },
                shadow:0,
                spinner:"off",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    nextSlideOnWindowFocus:"off",
                    disableFocusListener:false,
                }
            });
        }
    });	
    </script>


<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGFzaWZ1ZSIsImEiOiJja2ttbTFuMGkyMzhwMnBxdG82aGl3dGRvIn0.tEADOWakMLngTWCv-gejNQ';

    // Convert Django data to JavaScript

    var universitiesData = [
            {% for university in universities %}
            {
                coordinates: [{{ university.longitude }}, {{ university.latitude }}],
                title: '{{ university.name|escapejs }}',
                description: '{{ university.description|escapejs }}'
            },
            {% endfor %}
        ];

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-73.985664, 40.748817],
            zoom: 2
        });

        universitiesData.forEach(function(university) {
            new mapboxgl.Marker()
                .setLngLat(university.coordinates)
                .setPopup(new mapboxgl.Popup().setHTML(`<h3>${university.title}</h3><p>${university.description}</p>`))
                .addTo(map);
        });
    </script>
    </body>
    
{% endblock %}