{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section-area section-sp2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading-bx left">
                <h2 class="title-head text-uppercase">What People <span>Say</span></h2>
                <p>Reviews</p>
            </div>
        </div>
        <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
            {% for review in reviews %}
            <div class="item">
                <div class="testimonial-bx">
                    <div class="testimonial-thumb">
                        <img src="assets/images/testimonials/pic1.jpg" alt="">
                    </div>
                    <div class="testimonial-info">
                        <h5 class="name">{{ review.author }}</h5>
                    </div>
                    <div class="testimonial-content">
                        <p class="text-lg">{{ review.content }}</p>
                        <div class="rating-container">
                            <div class="rating-and-star">
                                <p class="text-success text-lg">{{ review.rating }}/5★</p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                    
                        
            
            </div>
            {% endfor %}
        </div>
      
        <a class="btn btn-primary mt-3" href="{% url 'create_review' %}">Make a Review</a>
</div>
</div>

<style>
    /* Стили для отзывов */
    .testimonial-bx {
        background: #fff;
        border: 1px solid #eee;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
    .testimonial-thumb img {
        max-width: 100px;
        border-radius: 50%;
    }
    .name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .testimonial-content {
        font-size: 16px;
        line-height: 1.5;
    }

    .rating-container {
    width: 50px; /* Ширина контейнера */
    height: 50px; /* Высота контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /* Для текста рейтинга */
    .text-success.text-lg {
        margin: 0;
    }

    /* Для звезды */
    svg {
        width: 100%; /* Заполнение всей ширины контейнера */
        height: 100%; /* Заполнение всей высоты контейнера */
    }

</style>
{% endblock %}
