 
{% extends 'base.html' %}

{% block content %} 
<div class="tab-pane" id="change-password">
    <div class="profile-head">
        <h3>Change Password</h3>
    </div>
    <form class="edit-profile" method="post">
        <div class="">
            <div class="form-group row">
                {% csrf_token %}
                <div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
                    <h3>Password</h3>
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
